@using Microsoft.AspNetCore.Components.Web
@using WebApplication.Models

@using WebApplication.Components
@using WebApplication.Services
@inject JsonFileProjectService ProjectService

<div class="my-cards">
    @foreach (var project in ProjectService.GetSideProjects())
    {
        <div class="card" style="margin-bottom: 10px">
            <div class="card-img" style="background-image: url('@project.Image');">
                <img class="card-img-top" src="@project.Image" alt="">
            </div>
            <div class="text-center">
                <div class="card-body">
                    <h5 class="card-title">@project.Title</h5>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <button @onclick="(e => SelectProject(project.Id))" data-toggle="modal" data-target="#projectModal" class="btn btn-primary">
                            More Info
                        </button>
                    </small>
                </div>
            </div>
        </div>
    }
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


@if (selectedProject != null)
{
    <p>testing testing</p>
    <div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="projectTitle">@selectedProject.Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-img" style="background-image: url('@selectedProject.Image');">
                        </div>
                        <div class="card-body">
                            <p class="card-text">@selectedProject.Description</p>
                            <p>Programming Language: @selectedProject.Language</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <h4>Grade</h4>
                </div>
            </div>
        </div>
    </div>
}


@code
{
    SideProject selectedProject;
    string selectedProjectId;
    void SelectProject(string projectId)
    {
        selectedProjectId = projectId;
        selectedProject = ProjectService.GetSideProjects().First(x => x.Id == projectId);
        Console.WriteLine("Testing testing");
    }
}